<div class="panel panel-default">
    <div class="panel-body">
      <form id="author-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="name">Name:</label>
            <input
              type="text"
              id="name"
              class="form-control required"
              size="120"
              max="120"
              name="name"
              [ngModel]="author?.name"
              #name="ngModel"
              required>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="book">Book:</label>
            <input
              type="text"
              id="book"
              class="form-control required"
              size="120"
              max="255"
              name="book"
              [ngModel]="author?.book"
              #email="ngModel"
              required>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="imageUrl">Image URL:</label>
            <input
              type="text"
              id="imageUrl"
              class="form-control"
              size="150"
              max="255"
              name="imageUrl"
              [ngModel]="author?.imageUrl">
          </div>
        </div>
  
  
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
  
      </form>
    </div>
  </div>
  